<div class="container repos-container">
  <app-repo-list></app-repo-list>
  <div class="repos-wrapper">
    <ul>
      <li
        *ngFor="let repo of repos.items"
        class="repository"
        [ngClass]="{
          'dragging-item': dragging && draggingStyle(repo.id, repo.name)
        }"
        draggable="true"
        (dragstart)="onDragStart(repo.id, repo.name)"
        (dragenter)="onDragEnter($event, repo.id, repo.name)"
        (dragend)="onDragEnd()"
      >
        <span>
          {{ repo.name }}
        </span>
      </li>
    </ul>
  </div>
</div>
