.repos-container {
  flex-direction: column;
}

.repos-wrapper {
  width: 500px;
  height: 50%;
  overflow: auto;
  border: 1px solid red;
}

.repository {
  width: 90%;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repository:not(:last-child) {
  margin-bottom: 10px;
}

.dragging-item {
  background-color: #999;
}

.dragover-test {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
}
