<header [ngClass]="{ open: isExpanded === true }">
  <div class="menus">
    <ul>
      <li>
        <a routerLink="/">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a routerLink="/repos">
          <i class="fas fa-folder-open"></i>
        </a>
      </li>
      <li>
        <a routerLink="/my-list">
          <i class="fas fa-list"></i>
        </a>
      </li>
      <li>
        <a routerLink="/repos">
          <i class="far fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
