.repo-list {
  width: 500px;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-bottom: 100px;
}

.repository {
  width: 90%;
  height: 50px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repository:not(:last-child) {
  margin-bottom: 10px;
}

.dragging-repository {
  color: #444;
  background-color: #444;
}

.repo-list ul li:not(:last-child) {
  margin-bottom: 10px;
}
