.repo-container {
  width: 500px;
  height: 300px;
  border: 1px solid red;
  overflow: auto;
  scrollbar-width: none;
}

.list-name-tag {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-name-tag h3 {
  margin: 0;
}

.repo-container ul {
  margin: 0;
}

.repo-container ul li {
  display: block;
  border: 1px solid #ccc;
  width: 80%;
  padding: 10px;
}

.repo-container ul li:not(:last-child) {
  margin-bottom: 20px;
}

.dragging-item {
  color: #444;
  background-color: #444;
}

.dragging-over-container * {
  pointer-events: none;
  /* drag-leave 이벤트가 해당 드롭 영역에서만 발동하도록 해줌. */
}

.dragging-over-list {
  position: relative;
}

.dragging-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
