<div>
  <span>making new list!</span>
</div>
<div
  class="repo-list"
  [ngClass]="{ 'dragging-over': draggingOver }"
  (dragenter)="onDivDragEnter($event)"
  (dragover)="!draggingInNewRepos && onDivDragOver($event)"
  (dragleave)="!draggingInNewRepos && onDivDragLeave($event)"
  (drop)="!draggingInNewRepos && onDrop(newRepos, location)"
>
  <div class="dragging-overlay" *ngIf="draggingOver"></div>
  <ul>
    <li
      *ngFor="let newRepo of newRepos; index as i"
      draggable="true"
      class="repository"
      [ngClass]="{
        'dragging-repository':
          dragging && draggingStyling(newRepo.id, newRepo.name)
      }"
      (dragstart)="onDragStart($event, i, newRepo)"
      (dragenter)="
        draggingInNewRepos && onDragEnter($event, newRepos, i, newRepo.name)
      "
      (dragend)="draggingInNewRepos && onDragEnd(newRepos)"
    >
      <span>
        {{ newRepo.name }}
      </span>
    </li>
  </ul>
</div>
