.dropzone-wrapper {
  border: 1px solid white;
  height: 500px;
  margin-bottom: 100px;
}

.dropzone {
  width: 200px;
  height: 200px;
  border: 1px solid white;
}

.test-list-wrapper {
  border: 1px solid red;
}

.test-item {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
}

.test-item:not(:last-child) {
  margin-bottom: 30px;
}
