/* font setup */
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Noto+Serif+KR:wght@300;400;700;900&display=swap");

/* fontawesome */
@import url("../node_modules//@fortawesome//fontawesome-free/css/all.css");

/* global style */

:root {
  --main-bg-color: #f0e2e7;
  --main-header-bg-color: #caf0f8;
  --main-font-color: #001e27;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
