<div
  class="repo-container"
  [ngClass]="{ 'dragging-over-container': draggingOver }"
  (dragenter)="dragEnterOnList($event)"
  (dragover)="!draggingInList && dragOverOnList($event)"
  (dragleave)="!draggingInList && dragLeaveOnList($event)"
  (drop)="!draggingInList && dropOnList($event)"
>
  <h3>{{ list.listName }}</h3>
  <div class="dragging-overlay" *ngIf="draggingOver"></div>
  <ul>
    <li
      *ngFor="let repo of list.items; index as i"
      [ngClass]="{
        'dragging-item': draggingInList && draggingStyling(repo.id)
      }"
      draggable="true"
      (dragstart)="dragStart($event, i, repo)"
      (dragenter)="draggingInList && dragEnterInList($event, i)"
      (dragend)="dragEnd()"
    >
      <app-repo [repo]="repo"></app-repo>
    </li>
  </ul>
</div>
